* {
    box-sizing: border-box;
}
html {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(104, 236, 236);
}

#content {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex: 1;
    height: 20%;
    align-items: center;
    border-bottom: 5px solid rgb(102, 199, 115);
}



.left-head {
    display: flex;
    flex: 1;
    max-height: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.left-head > img {
    max-height: 20%;
    max-width: 150px;
}

.btns {
    gap: 20px;
    margin-right: 5%;
    display: flex;
}


button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(104, 218, 76);
}

div > .main {
    display: flex;
    height: 70vh;
    margin: auto;
    width: 60vw;
    justify-content: center;
    word-wrap: break-all;
    white-space: normal;
}

div > .home {
    padding-top: 10vh;
}

div > .menu > div {
    border-bottom: 5px solid black;    
}

.menu-img {
    max-height: 150px;
}

.footer {
    display: flex;
    height: 10%;
    flex: 1;
    background-color: blue;
    justify-content: center;
    color: white;
}
